.search-form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn-search {
    margin-left: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.load-more {
    
    display: block;
    margin: 0 auto;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
   .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
}

 .photo-card {
    display: flex;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
 }